@using a2m.Models
@using a2mbl
@using CustomExtensions
@model MunicipalityModel
@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        A2M_Municipality._init('@Model.Municipality.Name.ToA2MUrlName()');
    });
</script>
<h2>Buscador negocios municipio </h2>
<!--Seccion central genérica-->
<div class="main container col-xs-12">
    <section class="col-xs-12 search-list">
        <header>
            <h1>Restaurantes en Sevilla la Nueva</h1>
            <p>Busqueda patrocinada por: <strong><a href="#" class="link">Ayuntamiento de Sevilla la Nueva</a></strong></p>
            <span id="btnFilter">Optimiza tu busqueda con los siguientes filtros<i class="fa fa-chevron-circle-down btn-more-filers"></i></span>
        </header>
        <!--Filtros checkbox-->
        <div class="content-filter">
            <!--Filtro pedido online-->
            <div class="check-filter link">
                <input type="checkbox" id="chkOnlineOrder" />
                <label>
                    <img src="~/Content/a2m/img/icon-pedido-online.svg" alt="icono pedido online" title="Filtrar pedido online" />
                    <span>Pedido online</span>
                </label>
            </div>
            <!--Filtro pedido a domicilio-->
            <div class="check-filter link">
                <input type="checkbox" id="chkOrderToHome" />
                <label>
                    <img src="~/Content/a2m/img/icon-a-domicilio.svg" alt="icono pedido a domicilio" title="Filtrar pedido a domicilio" />
                    <span>A domicilio</span>
                </label>
            </div>
            <!--Filtro pedido a recoger en local-->
            <div class="check-filter link">
                <input type="checkbox" id="chkPickupOrder" />
                <label>
                    <img src="~/Content/a2m/img/icon-recoger-local.svg" alt="icono recoger en local" title="Filtrar recoger en local" />
                    <span>Recoger en local</span>
                </label>
            </div>
            <!--Filtro reservas-->
            <div class="check-filter link">
                <input type="checkbox" id="chkReserves" />
                <label>
                    <img src="~/Content/a2m/img/icon-reservas.svg" alt="icono reservas" title="Filtrar local con reservas" />
                    <span>Reservas</span>
                </label>
            </div>
            <!--Filtro carta PDF-->
            <div class="check-filter link">
                <input type="checkbox" id="chkBrochurePdf" />
                <label>
                    <img src="~/Content/a2m/img/icon-carta-pdf.svg" alt="icono carta pdf" title="Filtrar disponible con carta PDF" />
                    <span>Carta PDF</span>
                </label>
            </div>
            <!--Filtro menú-->
            <div class="check-filter link">
                <input type="checkbox" id="chkMenu" />
                <label>
                    <img src="~/Content/a2m/img/icon-menu.svg" alt="icono con menú" title="Filtrar disponible menú" />
                    <span>Con menú</span>
                </label>
            </div>
        </div>
        <!--Resultado-->
        <div class="content-list-result row-centered" id="municipalityRenderDiv">
            @{ Html.RenderPartial("MunicipalitySearchResult", Model);}
        </div>
        <!--Bton ver más resultados-->
        <div class="btn-more-result btn-generic">
            <span>Ver los siguientes 20 resultados</span>
        </div>
    </section>
</div>
