@using a2m.Models
@using a2mbl
@using CustomExtensions
@model MunicipalityModel
@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        A2M_Municipality._init('@Model.Municipality.Name.ToA2MUrlName()');
    });
</script>
<h2>Buscador negocios municipio </h2>
<div>
    Filtros
    <input type="checkbox" id="chkOnlineOrder" /> Pedido online<br />
    <input type="checkbox" id="chkOrderToHome" /> Pedido a domicilio<br />
    <input type="checkbox" id="chkPickupOrder" /> Para recoger<br />
    <input type="checkbox" id="chkReserves" /> Reservas<br />
    <input type="checkbox" id="chkBrochurePdf" /> Folleto<br />
    <input type="checkbox" id="chkMenu" /> Menu<br />
</div><br />
<div id="municipalityRenderDiv">
    @{ Html.RenderPartial("MunicipalitySearchResult", Model);}
</div>