@using a2m.Models
@using a2mbl
@using CustomExtensions
@model MunicipalityModel
@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        A2M_Municipality._init();
    });
</script>
<h2>Buscador negocios municipio </h2>
<div>
    Filtros
    <input type="checkbox" id="chkOnlineOrder" /> Pedido online<br />
    <input type="checkbox" id="chkOrderToHome" /> Pedido a domicilio<br />
    <input type="checkbox" id="chkPickupOrder" /> Para recoger<br />
    <input type="checkbox" id="chkReserves" /> Reservas<br />
    <input type="checkbox" id="chkBrochurePdf" /> Folleto<br />
    <input type="checkbox" id="chkMenu" /> Menu<br />
</div><br />
@{foreach (var iBusiness in Model.BusinessList) { 
  
      <div>
          <span> @iBusiness.Name</span>
          <span> @iBusiness.Phone</span>
          <span> @iBusiness.Webpage</span>
          <span> <a href="~/@Model.Municipality.Name.ToA2MUrlName()/@iBusiness.Name.ToA2MUrlName()">LINK</a></span>
      </div>    
      
}}