@using a2m.Models
@using a2mbl
@using CustomExtensions
@model MunicipalityModel
@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;
}
@{foreach (var iBusiness in Model.BusinessList)
{

    <div>
        <span> @iBusiness.Name</span>
        <span> @iBusiness.Phone</span>
        <span> @iBusiness.Webpage</span>
        <span> <a href="~/@Model.Municipality.Name.ToA2MUrlName()/@iBusiness.Name.ToA2MUrlName()">LINK</a></span>
    </div>

}}
<div>@Model.BusinessList.Count() Resultado/s</div>