/* CSS Listado de resultados
------------------------------------------------------------------*/
//Estilos Main genérico, este siempre será el mismo contenedor de donde jerarquizaremos los contenidos centrales sin layout
.main{
    .shadowbox();
    background: @BlancoPuro;
    padding-bottom: 30px;
    //Cabecera listado de resultados
    .search-list{
        padding: 0 10px;
        header{
            padding: 15px 0;
            p{
                display: block; 
                font-size: 0.9em;
                line-height: 22px;
                margin-left: 18px;
            }
            span{
                font-size: 0.85em;
                margin-top: 10px;
                display: block;
                text-align: center;
                margin-bottom: -11px;
                background: @VerdePrincipal;
                color: @BlancoPuro;
                padding: 5px;
                .btn-more-filers{
                    margin-left: 10px;
                    display: none;
                }
            }
        }
        //Estilos box para filtrar resultados
        .content-filter{
            text-align: center;
            margin-bottom: 15px;
            .check-filter{
                text-align: center;
                padding: 0 30px;// incluir medias para que no hagan muchas filas a partir de 500px resolucion
                display: inline-block;
                position: relative;
                margin-top: 15px;
                input{
                    float:left;
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                    padding: 0 3px;
                    cursor: pointer;
                }
                label{
                    display: block;
                    cursor: pointer;
                    img{
                        clear: both;
                        margin: 0 auto;
                        display: block;
                        padding-bottom: 5px;
                        width: 20px;
                        image-rendering: optimizeQuality;
                    }
                    span{
                        display:block;
                        clear: both;
                        font-size: 0.8em;
                        color: @VerdePrincipal;
                    }
                }
            }
        }
        //Box de todos los resultados en el listado
        .content-list-result{
            margin-top:20px;
            padding:0;
            margin-bottom: 35px;
            float: left;
            .content-result{
                padding: 5px;
                float: left;
                .item-result{
                    display:block;
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    .shadowbox();
                    .content-img{
                        overflow: hidden;
                        height: 200px;
                        img{
                            width: 100%;
                        }
                    }
                    .content-detail{
                        text-align: left;
                        padding: 10px;
                        line-height: 20px;
                        strong{
                            font-size: 1.5em;
                        }
                        i{
                            clear: both;
                            width: 100%;
                            font-size: 0.8em;
                            display: block;
                            color: @GrisOscuro;
                            margin-bottom: 5px;
                        }
                        b{
                            font-weight: bold;
                            font-size: 1.2em;
                            width: 100%;
                            display: block;
                            color: @NegroPuro;
                            margin-bottom: 3px;
                        }
                        span{
                            color: @VerdeClaro;
                            font-size: 0.8em;
                            display: block;
                            font-weight: 700;
                        }
                    }
                    .icons-services{
                        display: inline-block;
                        text-align: center;
                        padding: 10px 20px 20px 20px;
                        li{
                            display: inline-block;
                            text-align: center;
                            margin:7px 5px;
                            color: @VerdePrincipal;
                            width: 83px;
                            img{
                                width: 20px;
                                display: block;
                                margin: 0 auto;
                            }
                            span{
                                font-size: 0.65em;
                                clear: both;
                                width: 100%;
                                color: @GrisOscuro;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .item-result:hover{
                    .shadowboxHover();
                }
            }
        }
        //Botón para cargar más resultados en los listados
        .btn-more-result{
            clear:both;
            margin-top: 30px;
            cursor: pointer;
        }
    }
}
//Estilos Footer
.footer-generic{
    background: @VerdePrincipal;
    .shadowbox();
    padding: 23px 179px 0;
    margin-top: 15px;
    strong{
        color: @BlancoPuro;
        margin-bottom: 10px;
        font-size: 1.6em;
    }
    i{
        font-size: 0.9em;
        color: @BlancoPuro;
    }
    .form-contact{
        display: inline-block;
        width: 100%;
        padding: 14px;
        label{
            padding-right: 5px;
            padding-left: 0;
            input{
                border: 0;
                width: 100%;
                padding: 10px 14px 7px;
            }
            textarea{
                margin-top: 10px;
                width: 100%;
                border: 0;
                padding: 13px;
                margin-bottom: 15px;
                max-height: 250px;
            }
        }
        .btn-form-contact{
            background: @BlancoPuro;
            color: @VerdePrincipal;
            width: 100%;
            margin-top: 0;
        }
    }
}
/*MEDIAS QUERYS para RWD listado resultados*/

/* Para 850px */  
@media only screen and (max-width: 850px) {  
    //Para listado de resultados
    .main .search-list .content-filter{
        text-align:left;
        display: none;
    }
    .main .search-list header span{
        padding: 13px;
        cursor: pointer;
        font-size: 0.8em;
    }
    .main .search-list header span:hover{
        opacity: 0.8;
    }
    .main .search-list header span .btn-more-filers{
        display: inline-block;
    }
    .main .search-list .content-filter .check-filter{
        width: 100%;
        background: @GrisFondoGenerico;
        padding: 13px 30px 8px 30px;
        margin-top: 0;
    }
    .main .search-list .content-filter .check-filter input{
        bottom: 20px;
        left: 10px;
    }
    .main .search-list .content-filter .check-filter label img{
        float: right;
    }
    .main .search-list .content-filter .check-filter label span{
        float:left;
        clear: none;
    }

}
/* Para 500px */  
@media only screen and (max-width: 500px) {

    .main .search-list header p{
        margin-left: 0;
    }
}