@import "generic.less";
/* CSS Fichas tipo 1 y 2
------------------------------------------------------------------*/
//Estilos Main genérico, este siempre será el mismo contenedor de donde jerarquizaremos los contenidos centrales sin layout
.main{
    .shadowbox();
    background: @BlancoPuro;
    padding-bottom: 30px;
    //Cabecera ficha producto
    .product-data{
        padding: 0 10px;
        header{
            padding: 15px 0;
            p{
                display: block; 
                font-size: 0.9em;
                line-height: 22px;
                margin-left: 18px;
            }
            span{
                color: @NegroPuro;
                font-weight: 400;
                margin-left: 10px;
                font-size: 0.9em;
            }
            i{
                margin-right: 5px;
            }
        }
        .content-info-local{
            display: block;
            .gallery-img-local{
                overflow: hidden;
                max-height: 500px;
                img{
                    width: 100%;
                }
            }
            .info-local{
                display: block;
                h2{
                    font-size: 1em;
                    padding-bottom: 25px;
                    font-weight: 700;
                    a{
                        margin-left: 5px;
                        font-size: 0.8em;
                        font-weight: 700;
                        float:right;
                        i{
                            margin-right: 5px;
                            font-size: 1.3em;
                            vertical-align: bottom;
                        }
                    }
                }
                .txt-description-local{
                    font-size: 0.9em;
                    line-height: 20px;
                }
                .link-web-local{
                    font-weight: 700;
                    margin-top: 15px;
                    font-size: 0.85em;
                    display: block;
                    margin-bottom: 25px;
                }
                .hour-price{
                    font-weight: 700;
                    display: inline-block;
                    font-size: 0.95em;
                    clear:both;
                    width: 100%;
                    padding: 2px 0;
                    i{
                        font-weight: 400;
                        font-size: 0.88em;
                        margin-left: 5px;
                    }
                    .price{
                        color: @VerdePrincipal;
                        font-weight: 700;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}
/*MEDIAS QUERYS para RWD Ficha tipo 1 y 2*/

/* Para 850px */  
@media only screen and (max-width: 850px) {  
    //Para menú movil

}
/* Para 500px */  
@media only screen and (max-width: 500px) {

}